# Byte-compiled / Optimized / DLL Files
*.pyc
*.pyo
*.pyd
__pycache__

# Distribution / Packaging
.venv/
venv/
.venv-*/
dist
docs/_build/
media-test/


# Unit Test & coverage
.pytest_cache/
htmlcov
.coverage
coverage.xml

# Ignore IDE, Editor Files
.idea/
.vscode/

# macOS
.DS_Store
*_out.yml
